.product img {
   display: inline;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product .btns buttons {
    height: 50px;
    
}